@import "../../tailwind-theme/base-theme.css";

html,
body,
#root {
    height: 100%;
    font-size: 16px;
    background-color: white;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background-color: transparent;
}

ul,
li {
    margin: 0;
    padding: 0;
}

/*
 * Allow new lines in texts
 */
h1, h2, h3, h4, h5, h6, /* heading */
p,                      /* paragraph */
span,                   /* section */
a,                      /* anchor */
q,                      /* quote */
b, strong,              /* bold */
i, em,                  /* italic */
u, ins,                 /* underline */
s, strike, del,         /* line-through */
sup, sub,               /* super(sub) script */
mark                    /* marked */
{
    white-space: pre-line;
}

/*
 * Remove IE/ Edge clear "X" & eye icons
 */
input::-ms-clear,
input::-ms-reveal {
    display: none;
}

/* Remove Safari password & caps lock icons */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-caps-lock-indicator {
    display: none;
}
/* Remove input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove input arrows Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}