---
import Button from "@components/Button.astro";
import Input from "@components/Input.astro";
import Notification from "@components/Notification.astro";
import Layout from "@layouts/Layout.astro";
import AuthForm from "@components/AuthForm.astro";
---

<Layout title="Forgot password">
  <main class="bg flex h-screen w-screen flex-col items-center justify-center">
    <div
      class="relative z-50 flex h-full max-w-[520px] flex-col items-center justify-center p-6"
    >
      <div
        class="flex max-w-[520px] flex-col items-center justify-between rounded-2xl bg-white px-0 pb-0 pt-16 shadow-[0px_2px_25px_-5px_rgba(0,0,0,0.07),0px_25px_21px_-5px_rgba(0,0,0,0.04)] md:w-[520px]"
      >
        <AuthForm
          id="first-form"
          title="Forgot password"
          subtitle="Enter your email to reset your password."
          formId="forgot-password-form"
        >
          <Input
            className="form-input w-full"
            id="email"
            type="email"
            label="Email address"
            placeholder="Email address"
            autocomplete="off"
            required
          />
          <Notification
            id="forgot-notification"
            title="Check your email"
            subtitle="Please click the link in the email received from Mee to reset your password."
          />
          <Button id="reset-password-button" type="button"
            >Reset password</Button
          >
          <Button
            id="go-back-button"
            type="button"
            buttonType="secondary"
            className="border-none">Go Back</Button
          ></AuthForm
        >
      </div>
    </div>
  </main>
</Layout>
<style>
  .button {
    background: linear-gradient(92.42deg, #3b5b63 0%, #4f868e 100%);
  }

  .bg {
    background: radial-gradient(50% 50% at 50% 50%, #fef7ee 0%, #fcdcbb 100%);
  }
</style>

<script>
  import config from "@config";
  import { addFormListeners, validateForm } from "@utils/validation";

  const forgotPasswordForm = document.getElementById(
    "forgot-password-form"
  ) as HTMLFormElement | null;

  const resetPasswordButton = document.getElementById("reset-password-button");
  const forgotNotification = document.getElementById("forgot-notification");
  const goBackButton = document.getElementById("go-back-button");
  const formInput = document.querySelector(".form-input");
  const data = { email: "" };

  const changeForm = () => {
    formInput?.classList.add("hidden");
    resetPasswordButton?.classList.add("hidden");
    forgotNotification?.classList.remove("hidden");
  };

  goBackButton?.addEventListener("click", () => {
    history.back();
  });

  const submitForm = (inputs: NodeListOf<HTMLInputElement>) => {
    const formValid = validateForm(inputs);
    if (formValid) {
      const emailData = Array.from(inputs).reduce(
        (acc, input) => ({ ...acc, [input.id]: input.value }),
        { email: "" }
      );
      data.email = emailData.email;
      changeForm();
    }
  };

  if (forgotPasswordForm) {
    const inputs = forgotPasswordForm.querySelectorAll("input");
    addFormListeners(inputs);
    resetPasswordButton?.addEventListener("click", () => {
      submitForm(inputs);
    });
    forgotPasswordForm.onsubmit = (e) => {
      e.preventDefault();
      submitForm(inputs);
    };
  }
</script>
