---
import Layout from "@layouts/Layout.astro";
import IndexPage from "@components/IndexPage.astro";
import ConnectionsList from "@components/ConnectionsList.astro";
import ConnectionItem from "@components/ConnectionItem.astro";
import SignIn from "@components/SignIn.astro";
import SignUp from "@components/SignUp.astro";
import RestorePassword from "@components/RestorePassword.astro";
import ForgotPassword from "@components/ForgotPassword.astro";
import CreateConnection from "@components/CreateConnection.astro";
import { Route } from "mee-components";
---

<Layout title="Welcome to Mee">
  <div id="route-content"></div>
  <Route id="index" route=""><IndexPage /></Route>
  <Route id="connections" route="connections"><ConnectionsList /></Route>
  <Route
    id="connections-item"
    route="^connections\/(\\d*)\\/?$"
    regexRoute={true}
    paramsKey="connection-id"
    paramsIndex={1}
    withoutDarkTheme={true}><ConnectionItem /></Route
  >
  <Route id="sign-up" route="sign-up"><SignUp /></Route>
  <Route id="sign-in" route="sign-in"><SignIn /></Route>
  <Route id="restore-password" route="restore-password"
    ><RestorePassword /></Route
  >
  <Route id="forgot-password" route="forgot-password"><ForgotPassword /></Route>
  <Route id="create-connection" route="create-connection"
    ><CreateConnection /></Route
  >
</Layout>
<script>
  import { HashRouter } from "mee-components";
  HashRouter.initRouter();
</script>
