---
import Layout from "@layouts/Layout.astro";
import Buttons from "@components/showcase/Buttons.astro";
import Shadows from "@components/showcase/Shadows.astro";
import PasswordInputs from "@components/showcase/PasswordInputs.astro";
---

<Layout title="Showcase">
  <main>
    <Buttons/>
    <Shadows/>
    <PasswordInputs />
  </main>
</Layout>
