---
import Logo from "./Logo.astro";

export interface Props {
  activePage?: string;
  logoColor?: 'blue' | 'white';
}

const { activePage, logoColor = 'blue' } = Astro.props;
---

<header id="header" class="fixed top-0 z-70 w-screen">
  <nav class="border-gray-200 bg-white">
    <div
      class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
    >
      <a
        href="/"
        id="mainLogo"
        class:list={[
          "logo block h-5 w-17.25 pt-1.5 md:h-7 md:w-24.25 md:pt-0",
          { "logo--contrast": logoColor === "blue" },
        ]}
      >
        <Logo />
      </a>
      <button
        id="menu-toggle"
        type="button"
        class="text-gray-500 hover:bg-gray-100 focus:ring-gray-200 inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm focus:outline-none focus:ring-2 md:hidden"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar">
        <ul
          class="border-gray-100 bg-gray-50 mt-4 flex flex-col rounded-lg border p-4 font-medium md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0"
        >
          <li>
            <a
              href="/sign-up"
              class:list={[
                "block rounded px-3 py-2 text-gray-900 hover:text-primary md:border-0 md:p-0",
                activePage === "sign-up" && "text-primary",
              ]}>Join</a
            >
          </li>
          <li>
            <a
              href="/sign-in"
              class:list={[
                "block rounded px-3 py-2 text-gray-900 hover:text-primary md:border-0 md:p-0",
                activePage === "sign-in" && "text-primary",
              ]}
              aria-current="page">Log in</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
  const menuTiggle = document.getElementById("menu-toggle");
  const navbar = document.getElementById("navbar");
  const onButtonClick = () => {
    if (navbar?.classList.contains("hidden")) {
      navbar?.classList.remove("hidden");
    }
    else {
      navbar?.classList.add("hidden");
    }
  };
  menuTiggle?.addEventListener("click", onButtonClick);

</script>