---
interface Props {
  id?: string;
}

const { id = "loading" } = Astro.props;
---

<div
  class="flex h-screen w-full flex-col items-center justify-center gap-2"
  id={id}
>
  <div
    class="z-10 inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-brand-500/10 align-[-0.125em] text-brand-500 motion-reduce:animate-[spin_1.5s_linear_infinite]"
    role="status"
  >
  </div>

  <div class="text-xs font-semibold">Loading...</div>
</div>
