---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { Button, Input } from "mee-components";
---

<Layout title="Create App">
  <Header />
  <main class="flex h-full min-h-screen pt-28">
    <article
      class="flex h-full w-full flex-1 flex-col items-center justify-start"
    >
      <div class="flex w-192 flex-col items-start justify-center gap-4">
        <a
          class="text-base font-semibold leading-6 text-brand-700"
          href="/#new-app"><span class="mr-2">&larr;</span>Back to apps</a
        >
        <section
          class="flex w-full flex-col items-start gap-6 rounded-xl border border-solid border-gray-300 bg-white p-8 text-gray-800"
        >
          <div class="flex w-full flex-col gap-6">
            <div class="flex flex-col gap-2">
              <div class="text-3xl font-semibold leading-10">New app</div>
              <div>Add your app to the Mee platform to...</div>
            </div>

            <form
              class="mx-auto flex w-full flex-col items-center gap-6"
              id="create-app"
              autocomplete="off"
            >
              <Input
                className="w-full"
                id="name"
                type="text"
                label="App name"
                size="lg"
                labelPosition="inside"
                autocomplete="off"
                required
              />
              <Input
                className="w-full"
                id="app-url"
                type="text"
                label="App URL"
                size="lg"
                labelPosition="inside"
                autocomplete="off"
                required
              />
              <Input
                className="w-full"
                id="cloud-node-url"
                type="text"
                label="Cloud node URL"
                size="lg"
                labelPosition="inside"
                autocomplete="off"
                required
              />
              <Input
                className="w-full"
                id="cloud-node-id"
                type="text"
                label="Cloud node ID"
                size="lg"
                labelPosition="inside"
                autocomplete="off"
                required
              />
              <div class="self-end">
                <Button id="save-app" type="button" className="w-auto px-4"
                  >Save app</Button
                >
              </div>
            </form>
          </div>
        </section>
      </div>
    </article>
  </main>
</Layout>

<script>
  // import { getCookie } from "@utils/cookie";
  import { HashRouter } from "mee-components";

  const initCreateCollection = () => {
    // const user = getCookie("user");
    // if (!user) {
    //   window.location.hash = "#sign-in";
    // }
    const saveAppButton = document.getElementById("save-app");
    saveAppButton?.addEventListener("click", () => {
      window.location.hash = "apps";
    });
  };

  HashRouter.initPageListeners(
    "create-app",
    initCreateCollection,
    "Create App"
  );
</script>
