---
import Header from "@components/Header.astro";
import MeeGuy from "@components/MeeGuy.astro";
import { ButtonLink } from "mee-components";
---

<>
  <Header />
  <main class="flex h-full min-h-screen items-center pt-28">
    <article class="flex h-full w-full flex-1 items-center justify-center">
      <section
        class="flex max-w-screen-sm flex-col items-center justify-center gap-8 px-4"
      >
        <div><MeeGuy /></div>
        <div class="flex flex-col gap-2">
          <div
            class="text-center text-4xl font-semibold tracking-0.02 text-gray-800"
          >
            You have no apps yet
          </div>
          <div
            class="max-w-93.5 text-center text-lg font-normal tracking-0.02 text-gray-800"
          >
            Please add your apps and allow users to privately use them with Mee
          </div>
        </div>
        <ButtonLink
          href="/#create-app"
          type="button"
          className="w-auto px-4"
          leftIcon="plus">New app</ButtonLink
        >
      </section>
    </article>
  </main>
</>
