---
import CheckCircle from "./CheckCircle.astro";
interface Props {
  id: string;
  title: string;
  subtitle?: string;
}

const { id, title, subtitle } = Astro.props;
---

<div class="overflow-hidden hidden" id={id}>
    <div
      class="box-border flex animate-riseIn items-start justify-start gap-2 rounded-lg border border-solid border-[#A6C492] bg-[#f2f7ee] p-4"
    >
      <div class="mt-0.5"><CheckCircle /></div>
      <div
        class="flex flex-col items-start justify-center gap-3 text-[#2E3F28]"
      >
        <div
          class="flex items-center gap-3 text-base font-semibold leading-6"
        >
          {title}
        </div>
        <div class="text-base leading-6 tracking-[0.005em]">
          {subtitle}
        </div>
      </div>
    </div>
  </div>