---
import { Button } from "mee-components";
import MeeGuy from "./MeeGuy.astro";
import Modal from "./Modal.astro";
---

<>
  <Modal id="license-modal">
    <div class="z-30 flex w-256 flex-col rounded-xl bg-white text-gray-800">
      <div
        class="border-b border-solid border-b-gray-200 p-4 text-xl font-medium"
      >
        Welcome to Mee!
      </div>
      <div class="flex flex-col items-start gap-2.5 p-4">
        <div class="text-lg font-normal leading-7">
          To continue with Mee you have to agree with the following legal
          agreement
        </div>
        <div
          class="isolate flex h-120 w-full flex-col items-start gap-10 overflow-y-scroll rounded-xl border border-solid border-brand-500 p-6 text-xl shadow-button"
        >
          <div>
            <div class="text-4xl font-semibold">Mee Data License</div>
            <div class="text-3xl font-semibold leading-10">
              Legal Agreement for Businesses
            </div>
          </div>
          <div>
            <div class="font-semibold">In short</div>
            <div>
              The Mee data license defines what businesses can and can’t do with
              user data.
            </div>
          </div>
          <div>
            <div class="font-semibold">Questions or concerns?</div>
            <div>
              Reading this privacy notice will help you understand your privacy
              rights and choices. If you do not agree with our policies and
              practices, please do not use our Services. If you still have any
              questions or concerns, please contact us at
              contact@meeproject.org.
            </div>
          </div>
          <div class="font-semibold">Key points</div>
          <div>
            <div class="font-semibold">
              Do we process any sensitive personal information?
            </div>
            <div>NO. We do not process any sensitive personal information.</div>
          </div>
          <div>
            <div class="font-semibold">
              Do we receive any information from third parties?
            </div>
            <div>NO. We don’t receive any information from third parties.</div>
          </div>
          <div>
            <div class="font-semibold">How do we process your information?</div>
            <div>We do not process any of your personal information.</div>
          </div>
          <div>
            <div class="font-semibold">
              In what situations and with which parties do we share personal
              information?
            </div>
            <div>We do not process any of your personal information.</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex items-center gap-2">
            <input type="checkbox" class="rounded-xl" id="agree" />
            <label for="agree" class="text-base leading-6"
              >I agree to the Mee Data License</label
            >
          </div>
          <div class="ml-5 text-sm leading-5 text-gray-500">
            By agreeing you bind to it and agree to change your apps to support
            Mee.
          </div>
        </div>
      </div>
      <div
        class="relative flex w-full flex-col flex-wrap items-center justify-center gap-4 rounded-b-xl border-t border-solid border-t-gray-200 bg-gray-50 p-4 md:flex-row"
      >
        <div class="flex-1 flex-shrink">
          <Button
            id="decline"
            type="button"
            buttonType="primary"
            style="outlined"
            className="w-full">Decline agreement</Button
          >
        </div>
        <div class="flex-1 flex-shrink">
          <Button
            id="confirm"
            type="button"
            buttonType="primary"
            style="outlined"
            className="w-full">Confirm agreement</Button
          >
        </div>
      </div>
    </div>
  </Modal>
  <Modal id="successfully-agreed-modal">
    <div
      class="z-30 flex w-125 flex-col gap-2.5 rounded-xl bg-white text-gray-800"
    >
      <div class="flex h-full w-full flex-1 items-center justify-center p-4">
        <div
          class="flex max-w-screen-sm flex-col items-center justify-center gap-8 px-4"
        >
          <div><MeeGuy /></div>
          <div class="flex flex-col gap-2">
            <div
              class="text-center text-4xl font-semibold tracking-0.02 text-gray-800"
            >
              Successfully agreed to the Mee Data License
            </div>
            <div
              class="max-w-93.5 text-center text-lg font-normal leading-7 tracking-0.02 text-gray-800"
            >
              You can now continue with adding your apps to the Mee platform to
              allow your users to connect privately and secure.
            </div>
          </div>
        </div>
      </div>
      <div
        class="relative flex w-full flex-row items-center justify-center gap-4 rounded-b-xl border-t border-solid border-t-gray-200 bg-gray-50 p-4"
      >
        <Button id="continue" type="button" className="w-full">Continue</Button>
      </div>
    </div>
  </Modal>
</>
<script>
  const declineButton = document.getElementById("decline");
  const confirmButton = document.getElementById("confirm");
  const licenseModal = document.getElementById("license-modal");
  const agreeCheckbox = document.getElementById(
    "agree"
  ) as HTMLInputElement | null;
  const successfullyAgreedModal = document.getElementById(
    "successfully-agreed-modal"
  );

  declineButton?.addEventListener("click", () => {
    window.location.hash = "declined-license";
  });
  confirmButton?.addEventListener("click", () => {
    if (agreeCheckbox?.checked) {
      licenseModal?.classList.remove("flex");
      licenseModal?.classList.add("hidden");
      successfullyAgreedModal?.classList.remove("hidden");
      successfullyAgreedModal?.classList.add("flex");
    }
  });
  const continueButton = document.getElementById("continue");

  continueButton?.addEventListener("click", () => {
    window.location.hash = "new-app";
  });

  licenseModal?.classList.remove("hidden");
  licenseModal?.classList.add("flex");
</script>
