---
import Button from "@components/Button.astro";
import Header from "@components/Header.astro";
import Input from "@components/Input.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Sign In">
  <main class="h-screen w-screen">
    <Header activePage="sign-in" />

    <div
      class="relative z-50 flex h-full flex-col items-center justify-center p-6"
    >
      <form
        class="mx-auto flex max-w-sm flex-col items-center gap-6"
        id="sign-in-form"
      >
        <Input
          className="w-64"
          id="email"
          type="email"
          label="Email"
          placeholder="Enter an email"
          required
        />
        <Input
          className="w-64"
          id="password"
          type="password"
          label="Password"
          placeholder="Enter a password"
          required
        />
        <Button type="submit" id="sign-in">Submit</Button>
      </form>
    </div>
  </main>
</Layout>

<script>
  import config from "@config";

  const signInForm = document.getElementById(
    "sign-in-form"
  ) as HTMLFormElement | null;

  if (signInForm) {
    const inputs = signInForm.querySelectorAll("input");
    signInForm.onsubmit = async (e) => {
      e.preventDefault();
      const data = Array.from(inputs).reduce(
        (acc, input) => ({ ...acc, [input.id]: input.value }),
        { email: "", password: "" }
      );

      if (data.email && data.password) {
        try {
          const { auth_token } = await fetch(
            config.backendUrl + "/api/v1/providers/login",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                email: data.email,
                password: data.password,
              }),
            }
          ).then((r) => r.json());

          console.log("auth_token", auth_token);
        } catch (e) {
          console.error(e);
        }
      }
    };
  }
</script>
