---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Button from "@components/Button.astro";
import Input from "@components/Input.astro";
---

<Layout title="Test Sing Data">
  <Header />
  <main class="flex h-full min-h-screen pt-28">
    <article
      class="flex h-full w-full flex-1 flex-col items-center justify-center"
    >
      <div class="flex w-[768px] flex-col items-start justify-center gap-4">
        <section
          class="flex w-full flex-col items-start gap-6 rounded-xl border border-solid border-slate-300 bg-white p-8 text-slate-800"
        >
          <div class="flex w-full flex-col gap-6">
            <form
              class="mx-auto flex w-full flex-col items-center gap-6"
              id="create-app"
              autocomplete="off"
            >
              <Input
                className="w-full"
                id="data"
                type="text"
                label="Data"
                placeholder="Data"
                autocomplete="off"
              />
              <div class="self-end">
                <Button id="sing" type="button" className="w-auto px-4"
                  >Sign</Button
                >
              </div>
              <div class="self-end" id="signed-result"></div>
              <div class="self-end">
                <Button id="verify" type="button" className="w-auto px-4"
                  >Verify</Button
                >
              </div>
              <div class="self-end" id="verify-result"></div>
            </form>
          </div>
        </section>
      </div>
    </article>
    <iframe
      height="0"
      id="singData"
      src="https://twenty-jars-sing.loca.lt/sing-data"></iframe>
  </main>
</Layout>
<script>
  const frame = document.getElementById("singData") as HTMLIFrameElement;
  const dataInput = document.getElementById("data") as HTMLInputElement;

  const testSign = document.getElementById("sing");
  const signedResult = document.getElementById("signed-result");
  const verifyResult = document.getElementById("verify-result");
  const testValid = document.getElementById("verify");
  let signature: ArrayBuffer;
  interface SingMessage {
    method: "sing" | "validate";
    valid?: string;
    signature?: ArrayBuffer;
  }
  testSign?.addEventListener("click", () => {
    const data = dataInput.value;
    if (signedResult) {
      signedResult.innerHTML = "";
    }
    console.log({ method: "sing", data: data });
    frame.contentWindow?.postMessage(
      { method: "sing", data: data },
      "https://twenty-jars-sing.loca.lt"
    );
  });
  testValid?.addEventListener("click", () => {
    const data = dataInput.value;

    frame.contentWindow?.postMessage(
      {
        method: "validate",
        data: data,
        signature: signature,
      },
      "https://twenty-jars-sing.loca.lt"
    );
  });

  window.addEventListener(
    "message",
    (event) => {
      // console.log(event);
      const message: SingMessage = event.data;
      if (message.method === "sing") {
        console.log("signature", message.signature);
        if (message.signature) {
          signature = message.signature;
          if (signedResult) {
            signedResult.innerHTML = "signed";
          }
        }
      }
      if (message.method === "validate" && verifyResult) {
        verifyResult.innerHTML = message.valid ? "valid" : "invalid";
        console.log("valid", message.valid);
      }
    },
    false
  );
</script>
