---
import NewPasswordInput, {PassStrength} from "../NewPasswordInput";
---

<div class="flex flex-col gap-10 p-20">
  <h1 class="text-2xl font-semibold">Password fields with label on edge</h1>
  <div class="flex gap-10">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Default</h2>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Edge"
            size="Large"
            value=""
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Edge"
            size="Medium"
            value=""
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Edge"
            size="Small"
            value=""
            setValue={() => {
            }}
            client:visible
        />
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">With values</h2>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Edge"
            size="Large"
            value="12345asdFH@#"
            passSecurity="2"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Edge"
            size="Medium"
            value="12345asdFH@#"
            passSecurity="3"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Edge"
            size="Small"
            value="12345asdFH@#"
            passSecurity="4"
            helperText="Here is a helper text"
            setValue={() => {
            }}
            client:visible
        />
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">With validation errors</h2>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Edge"
            size="Large"
            value="12345asdFH@#"
            error="Add at least 1 number and 1 symbol."
            passSecurity="1"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Edge"
            size="Medium"
            value="12345asdFH@#"
            error="Add at least 1 number and 1 symbol."
            passSecurity="2"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Edge"
            size="Small"
            value="12345asdFH@#"
            error="Add at least 1 number and 1 symbol."
            passSecurity="3"
            setValue={() => {
            }}
            client:visible
        />
      </div>
    </div>
  </div>

  <h1 class="text-2xl font-semibold">Password fields with label above field</h1>
  <div class="flex gap-10">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Default</h2>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Outside"
            size="Large"
            value=""
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Outside"
            size="Medium"
            value=""
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Outside"
            size="Small"
            value=""
            setValue={() => {
            }}
            client:visible
        />
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">With values</h2>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Outside"
            size="Large"
            value="12345asdFH@#"
            passSecurity="2"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Outside"
            size="Medium"
            value="12345asdFH@#"
            passSecurity="3"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Outside"
            size="Small"
            value="12345asdFH@#"
            passSecurity="4"
            helperText="Here is a helper text"
            setValue={() => {
            }}
            client:visible
        />
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">With validation errors</h2>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Outside"
            size="Large"
            value="12345asdFH@#"
            error="Add at least 1 number and 1 symbol."
            passSecurity="1"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Outside"
            size="Medium"
            value="12345asdFH@#"
            error="Add at least 1 number and 1 symbol."
            passSecurity="2"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Outside"
            size="Small"
            value="12345asdFH@#"
            error="Add at least 1 number and 1 symbol."
            passSecurity="3"
            setValue={() => {
            }}
            client:visible
        />
      </div>
    </div>
  </div>

  <h1 class="text-2xl font-semibold">Password fields with label inside field</h1>
  <div class="flex gap-10">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Default</h2>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Inside"
            size="Large"
            value=""
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Inside"
            size="Medium"
            value=""
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Inside"
            size="Small"
            value=""
            setValue={() => {
            }}
            client:visible
        />
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">With values</h2>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Inside"
            size="Large"
            value="12345asdFH@#"
            passSecurity="2"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Inside"
            size="Medium"
            value="12345asdFH@#"
            passSecurity="3"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Inside"
            size="Small"
            value="12345asdFH@#"
            passSecurity="4"
            helperText="Here is a helper text"
            setValue={() => {
            }}
            client:visible
        />
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">With validation errors</h2>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Inside"
            size="Large"
            value="12345asdFH@#"
            error="Add at least 1 number and 1 symbol."
            passSecurity="1"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Inside"
            size="Medium"
            value="12345asdFH@#"
            error="Add at least 1 number and 1 symbol."
            passSecurity="2"
            setValue={() => {
            }}
            client:visible
        />
      </div>
      <div class="mt-2">
        <NewPasswordInput
            labelPosition="Inside"
            size="Small"
            value="12345asdFH@#"
            error="Add at least 1 number and 1 symbol."
            passSecurity="3"
            setValue={() => {
            }}
            client:visible
        />
      </div>
    </div>
  </div>
</div>
