---
import Layout from "@layouts/Layout.astro";
import Buttons from "@components/showcase/Buttons.astro";
import Shadows from "@components/showcase/Shadows.astro";
import PasswordInputs from "@components/showcase/PasswordInputs.astro";
import Switches from "@components/showcase/Switches.astro";
import RadioInputs from "@components/showcase/RadioInputs.astro";
---

<Layout title="Showcase">
  <main>
    <Buttons/>
    <Shadows/>
    <PasswordInputs />
    <Switches />
    <RadioInputs />
  </main>
</Layout>
