---
import { Button, Loading } from "mee-components";
import TextValue from "@components/TextValue.astro";
---

<main class="flex h-full min-h-screen p-6">
  <article
    class="flex h-full w-full flex-1 flex-col items-center justify-start"
  >
    <div
      class="flex w-full max-w-192 flex-col items-start justify-center gap-4"
    >
      <a
        class="text-base font-semibold leading-6 text-brand-700"
        href="/#connections"
        ><span class="mr-2">&larr;</span>Back to connections</a
      >
      <Loading id="connection-loading" />
      <section
        class="hidden w-full flex-col items-start gap-6 rounded-xl border border-solid border-gray-300 bg-white p-8 text-gray-800"
        id="connection-data"
      >
        <div class="flex w-full flex-col gap-6">
          <div class="flex flex-col gap-2">
            <div class="text-3xl font-semibold leading-10" id="connection-name">
            </div>
          </div>
          <div class="mx-auto flex w-full flex-col items-center gap-3">
            <TextValue id="first_name" label="First name" className="w-full"
              >Name</TextValue
            >
            <TextValue id="second_name" label="Second name" className="w-full"
              >Second Name</TextValue
            >
            <TextValue id="email" label="Email" className="w-full"
              >test@gmail.com</TextValue
            >
            <div class="self-end">
              <Button
                id="save-connection"
                type="button"
                buttonType="primary"
                style="outlined"
                className="w-auto px-4"
                rightIcon="trash text-red-700"
                >Delete account
              </Button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>
</main>

<script>
  import { HashRouter } from "mee-components";
  import { getConnection } from "api/api";
  import { getCookie } from "@utils/cookie";

  const updateData = async () => {
    const user = getCookie("user");
    if (!user) {
      window.location.hash = "#sign-in";
    }
    const connectionName = document.getElementById(
      "connection-name"
    ) as HTMLDivElement | null;
    const nameInput = document.getElementById(
      "name"
    ) as HTMLInputElement | null;
    const urlInput = document.getElementById("url") as HTMLInputElement | null;
    const switcher = document.getElementById(
      "enabled-switch"
    ) as HTMLInputElement | null;

    const connectionDataElement = document.getElementById("connection-data");
    const loading = document.getElementById("connection-loading");

    const saveConnectionButton = document.getElementById("save-connection");
    saveConnectionButton?.addEventListener("click", () => {
      window.location.href = "";
    });

    loading?.classList.remove("hidden");
    connectionDataElement?.classList.add("hidden");
    connectionDataElement?.classList.remove("flex");

    if (connectionName) {
      connectionName.innerHTML = "";
    }
    const id = document.documentElement.dataset.connectionId;

    if (id != "") {
      const connectionData = await getConnection(Number(id));

      if (connectionData) {
        connectionDataElement?.classList.remove("hidden");
        connectionDataElement?.classList.add("flex");
        loading?.classList.add("hidden");

        if (connectionName) {
          connectionName.innerHTML = connectionData.name;
        }

        if (nameInput) {
          nameInput.value = connectionData.name;
        }

        if (urlInput) {
          urlInput.value = connectionData.image_url ?? "";
        }

        if (switcher) {
          switcher.checked = connectionData.enabled;
        }
      }
    }
  };
  HashRouter.initPageListeners("connections-item", updateData, "Connection");
</script>
