---
import { Button, Input, AuthForm, Alert, ThemeSelect } from "mee-components";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Forgot password">
  <main
    class="min-w-screen relative flex min-h-screen flex-col items-center justify-center bg-auth-gradient dark:bg-auth-gradient-dark"
  >
    <div class="absolute top-2 z-70"><ThemeSelect /></div>
    <div
      class="relative z-50 flex h-full max-w-130 flex-col items-center justify-center gap-6 p-6 pt-10"
    >
      <div
        class="flex flex-col items-center justify-between rounded-2xl bg-white px-0 pb-0 pt-16 shadow-2 md:w-130 dark:border dark:border-grey-800 dark:bg-grey-900"
      >
        <AuthForm
          id="first-form"
          title="Forgot password"
          subtitle="Enter your email to reset your password."
          formId="forgot-password-form"
        >
          <Input
            className="form-input w-full"
            id="email"
            type="email"
            label="Email address"
            size="lg"
            labelPosition="inside"
            autocomplete="off"
            required
          />

          <Alert
            id="success-alert"
            title="Check your email"
            icon="check-circle"
            type="success"
            description="Please click the link in the email received from Mee to reset your password."
          />

          <Button id="reset-password-button" type="button" className="w-full"
            >Reset password</Button
          >
        </AuthForm>
        <div
          class="flex w-full justify-center rounded-b-2xl border-t border-solid border-t-grey-200 bg-grey-50 px-12 py-4 text-center text-xs leading-4 tracking-0.02 text-grey-600 dark:border-t-grey-800"
        >
          <Button
            id="go-back-button"
            type="button"
            leftIcon="chevron-left text-lg"
            buttonType="tertiary"
            size="m"
            style="outlined"
            className="border-none">Go back</Button
          >
        </div>
      </div>
    </div>
  </main>
</Layout>

<script>
  import { getCookie } from "@utils/cookie";
import { addFormListeners, validateForm } from "@utils/validation";
  import { HashRouter } from "mee-components";

  const initForgotPassword = () => {
    const user = getCookie("user");
    if (user) {
      window.location.hash = "#connections";
    }
    const forgotPasswordForm = document.getElementById(
      "forgot-password-form"
    ) as HTMLFormElement | null;

    const resetPasswordButton = document.getElementById(
      "reset-password-button"
    );
    const successAlert = document.getElementById("success-alert");
    const goBackButton = document.getElementById("go-back-button");
    const formInput = document.querySelector(".form-input");
    const data = { email: "" };

    const changeForm = () => {
      formInput?.classList.add("hidden");
      resetPasswordButton?.classList.add("hidden");
      successAlert?.classList.remove("hidden");
    };

    goBackButton?.addEventListener("click", () => {
      history.back();
    });

    const submitForm = (inputs: NodeListOf<HTMLInputElement>) => {
      const formValid = validateForm(inputs);
      if (formValid) {
        const emailData = Array.from(inputs).reduce(
          (acc, input) => ({ ...acc, [input.id]: input.value }),
          { email: "" }
        );
        data.email = emailData.email;
        changeForm();
      }
    };

    if (forgotPasswordForm) {
      const inputs = forgotPasswordForm.querySelectorAll("input");
      addFormListeners(inputs);
      resetPasswordButton?.addEventListener("click", () => {
        submitForm(inputs);
      });
      forgotPasswordForm.onsubmit = (e) => {
        e.preventDefault();
        submitForm(inputs);
      };
    }
  };

  HashRouter.initPageListeners(
    "forgot-password",
    initForgotPassword,
    "Forgot Password"
  );
</script>
