---
type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div class:list={[className]}></div>

<script>
  window.addEventListener("DOMContentLoaded", () => {});
</script>

<style is:global></style>
