---

---

<div id="what-kind-data-container" class="relative h-[370px] w-[514px]"></div>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const data = [
      {
        left: 98,
        top: 75,
        kind: "text-only",
        title: "Ids",
      },
      {
        top: 86,
        right: 110,
        kind: "text-only",
        title: "Contact Info",
      },
      {
        top: 209,
        left: 11,
        kind: "text-only",
        title: "Medical records",
      },
      {
        top: 286,
        left: 126,
        kind: "text-only",
        title: "Travel",
      },
      {
        top: 314,
        left: 283,
        kind: "text-only",
        title: "Financial info",
      },
      {
        top: 236,
        right: 45,
        kind: "text-only",
        title: "Insurance",
      },
      {
        kind: "text-only",
        title: "Affiliations",
        top: 160,
        right: 0,
      },
      {
        kind: "with-data",
        imgSrc: "./images/section-data/media.svg",
        title: "Text messages",
        description: "medical images, private video",
      },
      {
        left: 47,
        top: 126,
        kind: "with-data",
        imgSrc: "./images/section-data/security.svg",
        title: "Verifiable credentials",
        description: "Driver’s license, age, etc.",
      },
      {
        kind: "with-data",
        imgSrc: "./images/section-data/voice.svg",
        title: "Images & videos",
        description: "medical images, private video",
      },
    ];

    const container = document.getElementById("what-kind-data-container")!;
  });
</script>

<style></style>
